
<% include ./partials/header %>

<div class="row">
    <div id="mainTop" class="small-12 text-center columns">
      <h1>Bulk Upload</h1>
    </div>
</div>

<div class="row">
  
    <div id="imgContainer" class="small-7 columns">
      <h4>Automotive Checklist with Sample</h4>
      <div class="small-12 columns" style="" id="bgColorDiv">
        
<!-----------------DYNAMIC CONTENT WILL GO HERE-------------------------------->
        <div class="small-12 columns" id="baseLogoDiv">
          <img src="https://res.cloudinary.com/djangoles/image/upload/v1461948463/volvo_fyixgc.png">
        </div>
        <div class="small-12 columns" id="baseOfferDiv">
          <p></p>
        </div>
        <div class="small-12 columns" id="baseDealerDiv">
          <p></p>
        </div>
        <div class="small-12 columns" id="baseAddress1Div">
          <p></p>
        </div>
        <div class="small-12 columns" id="baseLocation1Div">
          <p></p>
        </div>
        <div class="small-12 columns" id="baseURLDiv">
          <p>www.someurl.com</p>
        </div>
<!-----------------END DYNAMIC CONTENT ---------------------------------------->       
      </div>
    </div>
  
      <div class="small-5 columns"><!--RIGHT SIDE FORM START-->
          
          <div class="small-12 text-center columns auto">
            <h4>Automotive</h4>
          </div>
          <!--ENDCARD FIELD-->
          <div class="small-5 columns">
            <form action="./order" method="POST">
              <p class="labelhead">VW Endcard Template</p> 
          </div>
          <div class="small-7 columns">
              <input placeholder="please enter code: DW002" name="code" type="text">
          </div>
          <hr>
          <!--ENDCARD FIELD END-->
<!--*******************************************************************************       -->          
          <!--TIMING FIELD-->
          <div class="small-5 columns">
              <p class="labelhead">Timing Configuration</p> 
          </div>
          
         <div class="small-2 columns">
           <fieldset>
              <legend class="labelhead">:24/:06</legend>
              <input value=":24/:06" id="timingbox1" name="timingbox1" type="checkbox">
            </fieldset>
          </div>
          
           <div class="small-2 columns">
           <fieldset>
              <legend class="labelhead">:25/:05</legend>
              <input value=":25/:05" id="timingbox2" name="timingbox2" type="checkbox">
            </fieldset>
          </div>
    
           <div class="small-3 columns">
              <fieldset>
              <legend class="labelhead">Custom</legend>
              <input name="cust_timing" type="text">
              </fieldset>
          </div>
          <hr>
          <!--TIMING FIELD END-->
<!--*******************************************************************************       -->
          <!--BASE CREATIVE TAGGING-->
          <!--<div class="small-12 text-center columns auto2">-->
          <!--  <h6>Creative Tagging - Lower 3rd Only</h6>-->
          <!--</div>-->
          <!--  <div class="row">-->
          <!--    <div class="small-7 text-right columns">-->
          <!--        <p class="labelhead">None</p>-->
          <!--        <p class="labelhead">Phone</p>-->
          <!--        <p class="labelhead">URL</p>-->
          <!--        <p class="labelhead">Logo</p>-->
          <!--    </div>-->
          <!--    <fieldset class="large-5 columns">-->
          <!--      <legend class="labelhead"></legend>-->
                
          <!--      <input value="true" id="lower3rdnull" name="lower3rdnull" type="checkbox"><br>-->
          <!--      <input value="true" id="lower3rdPhone" name="lower3rdPhone" type="checkbox"><br>-->
          <!--      <input value="true" id="lower3rdURL" name="lower3rdURL" type="checkbox"><br>-->
          <!--      <input value="true" id="lower3rdLogo" name="lower3rdLogo" type="checkbox">-->
          <!--    </fieldset>-->
          <!--  </div>-->
            <!--BASE CREATIVE TAGGING END-->
<!--*******************************************************************************       -->          
            <!--ENDCARD TAGGING-->
          <div class="small-12 text-center columns auto2">
            <h6>Base End Tagging (Select All Fields That Apply)</h6>
          </div>
            <div class="row">
              <div class="small-7 text-right columns">
                  <p style="margin-bottom:32px;" class="labelhead">Background Color</p>
                  <p class="labelhead">Logo</p>
                  <p class="labelhead">Offer</p>
                  <p class="labelhead">Dealer Name</p>
                  <p class="labelhead">Address</p>
                  <p class="labelhead">Location</p>
                  <p class="labelhead">URL</p>
              </div>
              <fieldset class="large-5 columns">
                <legend class="labelhead"></legend>
                <input type="color" name="bgColor" id="bgColor" value="#2199e8">
                <input value="true" id="baseLogo" name="baseLogo" data-div="baseLogoDiv" type="checkbox"><br>
                <input name="baseOffer" id="baseOffer" type="text">
                <!--<input class="nudge" value="true" id="baseOffer" name="baseOffer" data-div="baseOfferDiv" type="checkbox"><br>-->
                <!--<input class="nudge" value="true" id="baseDealer" name="baseDealer" data-div="baseDealerDiv" type="checkbox"><br>-->
                <!--<input class="nudge" value="true" id="baseAddress1" name="baseAddress1" data-div="baseAddress1Div" type="checkbox"><br>-->
                <input name="baseDealer" id="baseDealer" type="text">
                <!--<input id="baseDealer" name="baseDealer" data-div="baseDealerDiv" type="text">-->
                <input id="baseAddress1" name="baseAddress1" data-div="baseAddress1Div" type="text">
                <input id="baseLocation1" name="baseLocation1" data-div="baseLocation1Div" type="text">
                <input value="true" id="baseURL" name="baseURL" data-div="baseURLDiv" type="checkbox"><br>
              </fieldset>
            </div>
              <!--ENDCARD TAGGING END-->
             <hr>
             
           <label>
              Notes
              <textarea class="labelhead" name="notes"></textarea>
            </label>
              <button class="button">Submit</button>
          </form>    
        </div> 
</div><!--row END-->

<script>

  
</script>

<% include ./partials/footer %>

 

