
<% include ./partials/header %>

<!--TITILE HEAD-->
<div class="row">
    <div id="mainTop" class="small-12 text-center columns">
      <h1>Choose Template</h1>
    </div>
</div>
<!--TITILE HEAD END-->
<div class="row">
    

    <div id="dealerTemplatesContainer">
        <div class="row">
            <div class="small-6 text-center columns">
                 <h1>TEMPLATE 1</h1>
                 <a href="/orders/onedealer">
<img class="dealerTemplates" src="https://res.cloudinary.com/djangoles/image/upload/v1462308378/temp1_uskru7.jpg"></img>
                 </a>
            </div>
        
            <div class="small-6 text-center columns">
                 <h1>TEMPLATE 2</h1>
                <a href="/orders/twodealer">
        <img class="dealerTemplates" src="https://res.cloudinary.com/djangoles/image/upload/v1462308378/temp2_pm3bcn.jpg"></img>  
                </a>
                 
            </div> 
        </div>
        
        <div class="row">
            <div class="small-6 text-center columns">
                 <h1>TEMPLATE 3</h1>
                <a href="/orders/threedealer">
<img class="dealerTemplates" src="https://res.cloudinary.com/djangoles/image/upload/v1462308378/temp3_almw43.jpg"></img>
                </a> 
            </div>
        
            <div class="small-6 text-center columns">
                 <h1>TEMPLATE 4</h1>
                <a href="/orders/threedealer">
<img class="dealerTemplates" src="https://res.cloudinary.com/djangoles/image/upload/v1462308378/temp1_uskru7.jpg"></img>
                </a>
            </div>   
        </div>
    </div>

</div>
<% include ./partials/footer %>

   

 

