
<% include ./partials/header %>

<div class="row">
    <div id="mainTop" class="small-12 text-center columns">
      <h1>Spot Order</h1>
    </div>
</div>

<div class="row" id="mainContainer">
  
    <div id="imgContainer" class="small-7 columns">
      <h4>Endcard Sample <span id="baseCodeDIV"></span></h4>
      <div class="small-12 columns" style="" id="bgColorDiv">

<!-----------------DYNAMIC CONTENT WILL GO HERE-------------------------------->
        <div class="small-12 columns" id="baseLogoDiv">
          <img src="https://res.cloudinary.com/djangoles/image/upload/v1462017844/ALPHA_iqhp2i.png">
        </div>
        <div class="small-12 columns" id="baseOfferDiv">
          <p></p>
        </div>
        <div class="small-12 columns" id="baseDealerDiv">
          <p></p>
        </div>
        <div class="small-12 columns" id="baseAddress1Div">
          <p></p>
        </div>
        <div class="small-12 columns" id="baseLocation1Div">
          <p></p>
        </div>
        <div class="small-12 columns" id="baseURLDiv">
          <p></p>
        </div>
        
        <div class="small-12 columns" id="baseURLDiv">
          <p></p>
        </div>
      </div>
      
  <form action="/orders" method="POST">
<!-- ----------EXTRA DEALER ADDONS----------------------------------------- -->

<div id="addtionalDealersForm" class="small-12 columns">
  <h2 class="text-center">Additional Dealers</h2>
  

        <div class="small-4 columns">
               <label>Dealer 2</label>
               <input id="baseDealer2" name="baseDealer2"  type="text">
               <label>Address</label>
                <input id="baseAddress2" name="baseAddress2" data-div="baseAddress1Div" type="text">
                <label>City</label>
                <input id="baseLocation2" name="baseLocation2" data-div="baseLocation1Div" type="text">
        </div>

        <div class="small-4 columns">
                <label>Dealer 3</label>
               <input id="baseDealer3" name="baseDealer3"  type="text">
               <label>Address</label>
                <input id="baseAddress3" name="baseAddress3" data-div="baseAddress1Div" type="text">
                <label>City</label>
                <input id="baseLocation3" name="baseLocation3" data-div="baseLocation1Div" type="text">
        </div>
        
        <div class="small-4 columns">
                <label>Dealer 4</label>
               <input id="baseDealer4" name="baseDealer4"  type="text">
               <label>Address</label>
                <input id="baseAddress4" name="baseAddress4" data-div="baseAddress1Div" type="text">
                <label>City</label>
                <input id="baseLocation4" name="baseLocation4" data-div="baseLocation1Div" type="text">
        </div>
    </div>
  </div>  
  
<!-----------------END DYNAMIC CONTENT ---------------------------------------->       

      <div class="small-5 columns" id="formContainer"><!--RIGHT SIDE FORM START-->
          <h4>Endcard CheckList</h4>
          <div class="small-12 text-center columns auto">

            <h4>Automotive</h4>
          </div>
          <!--ENDCARD FIELD-->
          <div class="small-5 columns">
          
              <p class="labelhead">VW Endcard Template</p> 
          </div>
          <div class="small-7 columns">
              <input placeholder="please enter code: DW002" name="baseCode" id="baseCode" data-div="baseCodeDIV" type="text">
          </div>
          <hr>
          <!--ENDCARD FIELD END-->
<!--*******************************************************************************       -->

<!--*******************************************************************************       -->          
          <!--TIMING FIELD-->
          <div class="small-5 columns">
              <p class="labelhead">Timing Configuration</p> 
          </div>
          
         <div class="small-2 columns">
           <fieldset>
              <legend class="labelhead">:24/:06</legend>
              <input value=":24/:06" id="timingbox1" name="timingbox1" type="checkbox" data-div="timingbox1DIV">
            </fieldset>
          </div>
          
           <div class="small-2 columns">
           <fieldset>
              <legend class="labelhead">:25/:05</legend>
              <input value=":25/:05" id="timingbox2" name="timingbox2" type="checkbox" data-div="timingbox2DIV">
            </fieldset>
          </div>
    
           <div class="small-3 columns">
              <fieldset>
              <legend class="labelhead">Custom</legend>
              <input name="cust_timing" type="text">
              </fieldset>
          </div>
          <hr>
          <!--TIMING FIELD END-->
<!--*******************************************************************************       -->

<!--*******************************************************************************       -->          
            <!--ENDCARD TAGGING-->
          <div class="small-12 text-center columns auto2">
            <h6>Base End Tagging (Select All Fields That Apply)</h6>
          </div>
            <div class="row">
              <div class="small-7 text-right columns">
                  <p style="margin-top:28px; margin-bottom:35px;" class="labelhead">Background Color</p>
                  <p style="margin-bottom:25px;"class="labelhead">Logo</p>
                  <p style="margin-bottom:25px;" class="labelhead">Offer</p>
                  <p style="margin-bottom:23px;" class="labelhead">Dealer Name</p>
                  <p style="margin-bottom:24px;" class="labelhead">Address</p>
                  <p style="margin-bottom:24px;" class="labelhead">Location</p>
                  <p class="labelhead">URL</p>
                  <p class="labelhead">Additional Dealers</p>
              </div>
              <fieldset class="large-5 columns">
                <legend class="labelhead"></legend>
                <input type="color" name="bgColor" id="bgColor" value="n/a">
                <select id="baseLogo" name="baseLogo" data-div="baseLogoDiv">
                  <option value="https://res.cloudinary.com/djangoles/image/upload/v1462017844/ALPHA_iqhp2i.png">Select Logo</option>
                  <option value="https://res.cloudinary.com/djangoles/image/upload/v1461948463/volvo_fyixgc.png">Volvo</option>
                  <option value="https://res.cloudinary.com/djangoles/image/upload/v1462015964/saab_xsp4lz.png">Saab</option>
                  <option value="https://res.cloudinary.com/djangoles/image/upload/v1462018327/VW_ALPHA_zqbevy.png">Volkswagon</option>
                </select>
                <input name="baseOffer" id="baseOffer" type="text">
                <input name="baseDealer" id="baseDealer" type="text">
                <input id="baseAddress1" name="baseAddress1" data-div="baseAddress1Div" type="text">
                <input id="baseLocation1" name="baseLocation1" data-div="baseLocation1Div" type="text">
                <input id="baseURL" name="baseURL" data-div="baseURLDiv" type="text">
                <input value="" id="addtionalDealers" name="addtionalDealers" type="checkbox" data-div="addtionalDealers">
              </fieldset>
            </div>
              <!--ENDCARD TAGGING END-->
<!--*******************************************************************************       -->

<!--*******************************************************************************       --> 
             <hr>
             
           <label>
              Notes
              <textarea rows="4" class="labelhead" name="notes"></textarea>
            </label>
              <button class="button">SUBMIT</button>
          </form>
          <a href="/orders" class="button alert">CANCEL</a>
        </div> 
</div><!--row END-->
<br>
<br>
<br>
<br>
<script>
//------------------------------------------------------------------------------
//===================HELPER FUNCTIONS===========================================
//------------------------------------------------------------------------------


// function _(inputField) {
//   return document.getElementById(inputField);
// }


//------------------------------------------------------------------------------
//===================INPUT FIELDS FUNCTIONS=====================================
//------------------------------------------------------------------------------

// function toggleDiv(checkbox, divID) {
//     // Grabbing ID OF DIV TO HIDE OR SHOW
//     var divID = document.getElementById(divID);
//     if (checkbox.checked) {
//         divID.style.opacity = '1';
//     } else {
//         divID.style.opacity = '0';
//     }
// }

// function fillDiv(inputbox, divID) {
//     // Grabbing ID OF DIV TO Fill WITH TEXT
//     var divID = document.getElementById(divID);
//     divID.style.display = "block";
//     divID.innerHTML = inputbox.value;
// }

// function fillLogoDiv(selectBox, divID) {
//     // GRABBING ID OF DIV TO FILL WITH IMAGE
//     var divID = document.getElementById(divID);
//     divID.style.display = "block";
//     divID.innerHTML = "<img src="+"\""+selectBox.value + "\">" ;
// }

// function fillBgColor(colorpick, divID) {
//     // GRABBING ID OF DIV TO FILL WITH BG COLOR
//   var divID = document.getElementById(divID);
//   divID.style.background = colorpick.value;
//   console.log(colorpick.value);
// }

//------------------------------------------------------------------------------
//========================CHANGE BACKGROUND COLOR===============================
//------------------------------------------------------------------------------

// _('bgColor').onchange = function() {
//     fillBgColor(this, 'bgColorDiv');
// };


//------------------------------------------------------------------------------
//========================CHANGE LOGO IMAGE=====================================
//------------------------------------------------------------------------------

// _('baseLogo').onchange = function() {
//     fillLogoDiv(this, 'baseLogoDiv');
// };

//------------------------------------------------------------------------------
//========================INPUT TEXT UPDATE DIV=================================
//------------------------------------------------------------------------------


// _('baseOffer').onkeyup = function() {
//     console.log(this.value);
//     fillDiv(this, 'baseOfferDiv'); 
// };

// _('baseDealer').onkeyup = function() {
//     console.log(this.value);
//     fillDiv(this, 'baseDealerDiv'); 
// };

// _('baseAddress1').onkeyup = function() {
//     console.log(this.value);
//     fillDiv(this, 'baseAddress1Div'); 
// };

// _('baseLocation1').onkeyup = function() {
//     console.log(this.value);
//     fillDiv(this, 'baseLocation1Div'); 
// };

// _('baseURL').onkeyup = function() {
//     console.log(this.value);
//     fillDiv(this, 'baseURLDiv'); 
// };


// _('addtionalDealers').onchange = function() {
//   console.log(this.value);
//   toggleDiv(this, 'addtionalDealersForm');
  
// }

// _('baseCode').onkeyup = function() {
//     console.log(this.value);
//     fillDiv(this, 'baseCodeDIV'); 
// };


//------------------------------------------------------------------------------
//========================TESTING AREA==========================================
//------------------------------------------------------------------------------



//------------------------------------------------------------------------------
//========================TOGGLE CHECK BOXES====================================
//------------------------------------------------------------------------------

// WORKS BUT WOULD LIKE TO REFACTOR!!!!!!!!

// _('testCheck1').onclick = function() {
//     fillCheckedDivs(this, "testCheck1DIV");
// };

// _('testCheck2').onclick = function() {
//     fillCheckedDivs(this, "testCheck1DIV");
// };

// _('testCheck3').onclick = function() {
//     fillCheckedDivs(this, "testCheck3DIV");
// };

// _('testCheck4').onclick = function() {
//     fillCheckedDivs(this, "testCheck4DIV");
// };


// function fillCheckedDivs(checkboxID, divID) {
//  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
//  for(var i = 0; i < checkboxes.length; i++) {
//     var checkID = checkboxes[i].id
//     var datadiv = checkboxes[i].dataset.div;
//     console.log(datadiv, divID, checkID);
    
    // if (checkboxes.checked) {
    //     divID.style.opacity = '1';
    // } else {
    //     divID.style.opacity = '0';
    //     }
//     }    
// }


// clickedCheckBox(checkID).onclick = function() {
// toggleDiv(this, datadiv);
// };


  
</script>

<% include ./partials/footer %>








<!-- ====================================================================== -->
<!--CHECK BOX TEST SECTION -->
<!-- ====================================================================== -->

<!--<h1>CHECKBOX TEST SECTION</h1>-->
<!--<div class="small-12 columns" id="testCheck1DIV">-->
<!--    <p>TESTING</p>-->
<!--</div>-->
<!-- <div class="small-12 columns" id="testCheck2DIV">-->
<!--    <p>TESTING2</p>-->
<!--</div>-->

<!--<div class="small-12 columns" id="testCheck3DIV">-->
<!--    <p>TESTING3</p>-->
<!--</div>-->

<!--<div class="small-12 columns" id="testCheck4DIV">-->
<!--    <p>TESTING4</p>-->
<!--</div>-->

   
<!--<input value="true" id="testCheck1" name="testCheck1" data-div="testCheck1DIV" type="checkbox"><br>-->
<!--<input value="true" id="testCheck2" name="testCheck2" data-div="testCheck2DIV" type="checkbox"><br>-->
<!--<input value="true" id="testCheck3" name="testCheck3" data-div="testCheck3DIV" type="checkbox"><br>-->
<!--<input value="true" id="testCheck4" name="testCheck4" data-div="testCheck3DIV" type="checkbox"><br>-->
          <!--BASE CREATIVE TAGGING-->
          <!--<div class="small-12 text-center columns auto2">-->
          <!--  <h6>Creative Tagging - Lower 3rd Only</h6>-->
          <!--</div>-->
          <!--  <div class="row">-->
          <!--    <div class="small-7 text-right columns">-->
          <!--        <p class="labelhead">None</p>-->
          <!--        <p class="labelhead">Phone</p>-->
          <!--        <p class="labelhead">URL</p>-->
          <!--        <p class="labelhead">Logo</p>-->
          <!--    </div>-->
          <!--    <fieldset class="large-5 columns">-->
          <!--      <legend class="labelhead"></legend>-->
                
          <!--      <input value="true" id="lower3rdnull" name="lower3rdnull" type="checkbox"><br>-->
          <!--      <input value="true" id="lower3rdPhone" name="lower3rdPhone" type="checkbox"><br>-->
          <!--      <input value="true" id="lower3rdURL" name="lower3rdURL" type="checkbox"><br>-->
          <!--      <input value="true" id="lower3rdLogo" name="lower3rdLogo" type="checkbox">-->
          <!--    </fieldset>-->
          <!--  </div>-->
            <!--BASE CREATIVE TAGGING END-->     

 

