body {
 /*background: orange;   */
}

#imgContainer {
    border:1px solid black;
    height: 700px;


}




.auto {
    background:#CCB9E8;
    color:white;
    margin-bottom: 10px;
}

.auto2 {
    background: #CCB9E8;
    color:white;
    margin-bottom: 10px;
}

.auto h4,
.auto2 h5{
   line-height: 0.5em;
   padding-top: 10px;
   padding-bottom: 5px;
   
}



.labelhead {
    font-weight: bold;
    font-size: .9em;
}
p.labelhead {
    margin-top: 10px;
}

li, ul {
    list-style-type: none;
}

#baseURLDiv,
#baseLogoDiv,
#baseDealerDiv,
#baseAddress1Div,
#baseAddress2Div,
#basePhoneDiv {
    opacity: 0;
    color:white;
    font-family: Oswald;
    background:green;
}




input[name="cust_timing"] {
    height: 30px;
}


#mainTop {
    background:#2199e8;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}
input[type="checkbox"] {
    padding-top: 0px;
    margin-top: 8px;
    width: 20px;

}

input[type="checkbox"].nudge {
    padding-top: -10px;
    margin-top: -120px;
}

#changeMe {
    background-image: url(http://res.cloudinary.com/djangoles/image/upload/v1461874263/volvo2_hplzp0.jpg); 
    background-repeat: no-repeat;

    height: 600px;

}
