/*BASE STYLES*/
li, ul {
    list-style-type: none;
}

td img {
    width: 50px;
}

#topnav {
 
    height: 50px;
    background: black;
}
#topnav h1 {
    color:white;
    font-size: 1em;
    padding-top: 14px;
    text-align: left;
    margin-left: 20px;
}

#mainTop {
    background:#2199e8;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}

#mainContainer {
    background:#fafafa;
    padding: 30px;
    border:1px solid #ddd;
    border-radius:5px;
    box-shadow: 2px 2px 100px #DDD;
    
}

/*FORM FIELD HEADERS*/
.auto {
    background:#CCB9E8;
    color:white;
    margin-bottom: 10px;
}

.auto2 {
    background: #CCB9E8;
    color:white;
    margin-bottom: 10px;
}

.auto h4,
.auto2 h5,
.auto2 h6{
   line-height: 0.5em;
   padding-top: 10px;
   padding-bottom: 5px;
}

.labelhead {
    font-weight: bold;
    font-size: .9em;
    
}

p.labelhead {
    margin-top: 10px;
}


/*DYNAMIC DIVS*/
#imgContainer {
    text-align: left;
    
}

#imgContainer h4 {
    font-weight: bold;
    font-size: 1.9em;
}

#bgColorDiv {
    height: 400px;
    border:1px solid #DDD;
}

#baseURLDiv,
#baseLogoDiv {
    opacity: 0;
    color:white;
    font-family: Oswald;
}

#baseLogoDiv {
    opacity: 1;
    display: block;
}

#baseOfferDiv,
#baseDealerDiv,
#baseAddress1Div,
#baseLocation1Div,
#baseURLDiv {
    opacity: 1;
    color:white;
    font-family: Oswald;  
}

#baseCodeDIV {
    opacity: 1;
    color:black;
    font-family: Oswald; 
}

#baseLogoDiv img {
    text-align: center;
    width: 18%;
    margin-top: 25px;
}



#baseLogoDiv {
  background:none;
  text-align: center;
}

#baseURLDiv {
    font-family: 'Passion One', cursive;
    height: 25px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 80px;
/*color:black;*/
}


#baseOfferDiv {
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-size: 2.7em;
    text-align: center;
    margin-top: 10px;
}

#baseDealerDiv,
#baseAddress1Div,
#baseLocation1Div {
font-family: 'Passion One', cursive;
height: 25px;
text-align: center;
font-size: 1.5em;
}


/*INPUT FIELDS*/
input[name="cust_timing"],
input[name="baseOffer"],
input[name="baseDealer"],
input[name="baseAddress1"],
input[name="baseLocation1"],
input[name="baseURL"],
input[name="baseLogo"],
select {
    height: 30px;
}

select {
    height: 37px;
    
}

input[name="bgColor"] {
    width: 60px;
    height: 60px;;
}

input[name="baseLogo"] {
    margin-bottom: 20px;
}

input[type="checkbox"] {
    padding-top: 0px;
    margin-top: 8px;
    width: 20px;
}

#formContainer {
    margin-top:0px;
    margin-top: 6px;
    
}

#formContainer h4 {
    font-weight: bold;
    font-size: 1.9em;
    text-align: center;
}


/*ORDER PAGE*/
#confirmHeader {
    margin-top: 30px;
}


/*CHECKBOX TESTS*/

#testCheck1DIV,
#testCheck2DIV,
#testCheck3DIV,
#testCheck4DIV {
    opacity: 0;
}





